/*---------------------------------- ELEMENTOS GENERALES DE LA PAGINA ---------------------------------------- */

body {
    width: 100%;
    height: 100%;
    background-color: rgb(71, 71, 206);
    padding: 0;
    margin: 0;
}

header {
    background-color: cornsilk;
}

header h1 {
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: bold;
    font-size: 2em;
    color:rgb(24, 20, 26);
    padding: 20px;
}

section {
    background-color: cornsilk;
    margin: 20px;
    align-self: center;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif; 
}

/*------------------------------------------ SPAN DE COLORES ----------------------------------------------- */

.redBox {
    width: 15px;
    height: 15px;
    background-color: rgb(255, 0, 0);
    display: inline-block;
}
.greenBox {
    width: 15px;
    height: 15px;
    background-color: rgb(2, 114, 2);
    display: inline-block;
}

.blueBox {
    width: 15px;
    height: 15px;
    background-color: rgb(71, 71, 206);
    display: inline-block;
}

/*---------------------------------------------------- MESSAGE LOG ------------------------------------------------- */

.messageLog textarea {
    height: 10em;
    overflow-y: scroll;
    resize: none;
    width: 100%;
    text-transform: uppercase;
}

/*---------------------------------------------------- TEMP CANVAS ------------------------------------------------- */

canvas {
    width: 50%;
    height: 40%;
}

/*--------------------------------------------------- FILAMENT STATUS ---------------------------------------------- */

