/*---------------------------------- ELEMENTOS GENERALES DE LA PAGINA ---------------------------------------- */

body {
    background-color: rgb(13,13,43);
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(240, 233, 226);
    width: inherit;
    display: flex;
    justify-content: space-between;
}

header div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

header button {
    height: 40px;
}

span{
    background-color: rgb(240, 233, 226);
}

h3{
    height: 30px;
    background-color: rgb(240, 233, 226);
}

header h1 {
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: bold;
    font-size: 2em;
    color:rgb(24, 20, 26);
    padding: 20px;
}

section {
    background-color: rgb(240, 233, 226);
    margin: 20px;
    align-self: center;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    width: 80%;
    margin-left: 10%;
    border: 15px solid rgb(54,73,109);
    border-radius: 8px;
}

h3{
    text-align: center;
    background-color: rgb(48,53,58);
    color: rgb(240, 233, 226);
    padding: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

button {		
    background-color: rgb(48,53,58);
    color: rgb(240, 233, 226);
    font: 2em;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;		
}

/*------------------------------------------ SPAN DE COLORES ----------------------------------------------- */
.spanBox{
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-bottom: -2;
}

.redBox {
    background-color: rgb(255, 0, 0);
}
.greenBox {
    background-color: rgb(2, 114, 2);
}

.blueBox {
    background-color: rgb(71, 71, 206);
}

/*---------------------------------------------------- MESSAGE LOG ------------------------------------------------- */

.messageLog textarea {
    height: 10em;
    overflow-y: scroll;
    resize: none;
    width: 100%;
    text-transform: uppercase;
}

/*---------------------------------------------------- TEMP CANVAS ------------------------------------------------- */
.tempCanvas .header {
    flex-direction: row;
}

.tempCanvas .header button {
    position: absolute;
    right: 8%;
    top: 16.5%;
}

.canvasHolder {
    position:relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

canvas {
    width: 50%;
    height: 40%;
    padding: 0;
    position: absolute; 
    left: 0; 
    top: 0;
}

.leyenda {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px;
}

.hide {
    visibility: hidden;
}

/*--------------------------------------------------- FILAMENT STATUS ---------------------------------------------- */


/*---------------------------------------------------- CONTROL PANEL ----------------------------------------------- */

.controlPanel{
    display:flex;
    flex-direction: column;
    height: 100px;
}

.controlPanel div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.controlPanel button {
    width: 80px;
    height: 50px;
}

/*---------------------------------------------------- LOGIN PANEL ------------------------------------------------- */

.loginPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 233, 226);
}

.streamImg {
    height: 480px;
    width: 640px;
    margin: 0px auto;
    display: block;
    margin-top: 20px;
}